*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.formSearch{
    padding-right: 182px;
    margin-right: 9px;
}
.bannerSlide{

    display: block;
    min-height: 400px;
    width: 800px;
}
#Slide1{
    background:url(../img/TuViPhongThuy/TuVi-Bia.jpg);
    background-repeat:no-repeat;
}
#Slide2{

    background:url(../img/VanHoc/VanHocBia.jpg);
    background-repeat:no-repeat;
}
#Slide3{
    background:url(../img/TieuThuyet/TieuThuyetBia.jpeg);
    background-repeat:no-repeat;
}
#Slide4{
    background:url(../img/KinhTe/KinhTeBia.jpg);
    background-repeat:no-repeat;
}
#Slide5{
    background:url(../img/XaHoi/XaHoiBia.jpg);
    background-repeat:no-repeat;
}
#Slide6{
    background:url(../img/ChinhTri/ChinhTriBia.jpg);
    background-repeat:no-repeat;
}
#Slide7{
    background:url(../img/LichSu/LichSuBia.jpg);
    background-repeat:no-repeat;
}
#Slide8{
    background:url(../img/KhoaHoc/KhoaHocBia.jpg);
    background-repeat:no-repeat;
}
.FormEmail{
    padding-right: 170px;
    margin-right: 20px;
}
.SizeEmail{
    padding-right: 40px;
    padding-left: 40px;
}

.hieuUngDanhMuc:hover{
    background-color: #33FFFF;
}

.boGachChan{
    color: black;
}
.boGachChan:hover{
    text-decoration: none;
    color: red;
}
.boGachChanXemThem:hover{
    text-decoration: none;
    color: green;
}
#tenSach{
    font-size: 22px;
    margin-left: 20px;
}
#tenTg{
    font-size: 15px;
    margin-left: 19px;
}