.hieuUngDanhMuc:hover{
    background-color: #33FFFF;
}

.boGachChan{
    color: black;
}
.boGachChan:hover{
    text-decoration: none;
    color: red;
}
.boGachChanXemThem:hover{
    text-decoration: none;
    color: green;
}
.xemthem:hover{
    text-decoration: none;
    color: green;
}
.test1{
    font-size: 20px;
    
}
