*{
    padding: 0px;
    margin: 0px;
}
/* Header */
.thanhNen{
    background-color: #168EE4;
}
.logoNen{
    color: white;
    padding-left: 50px;
}

.dslist{
    color: white;
    margin-left: 22px;
}

.dslist:hover{
    text-decoration: none;
    color: black;
}
/* Main */
#mainAdmin {
    margin-top: 73px;
}

.listBang{
    font-size: 20px;
}
.listBang:hover{
    background-color:#e81e25;
    color: white    ;

}

.mucTongQuan,.mucNhanVien {
    background-color: #f94f2e;
    padding-bottom: 9px;
    margin-bottom: 41px;
}

.mucTongQuan h3,.mucNhanVien h3 {
    font-size: 23px;
    color: white;
    padding-left: 23px;
    padding-top: 4px;
    padding-bottom: 6px;
}
.mucNhanVien{
    margin-top: 40px;
}
.hienThiThongTin {
    text-align: center;
}

.quanLyHienThiThongTin{
    margin-bottom: 31px;
}
/*Đăng ký thành viên  */
.labelName{
    margin-top:8px;
}
